@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Metal+Mania&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metal+Mania&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --highlighted_text_color: #EE524C;
    --body_text_color: #F1F1F1;
    --background_color: #191919;
    --headings_text_color: #FFFF;
    --cards_color: #3d0075;
}

body {
    min-height: 100vh;
    background-color: var(--background_color);
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: "Metal Mania", serif;
    color: var(--headings_text_color);
}

p{
    color: var(--body_text_color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
.overlay {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    position: fixed;
}
.bg_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}
.bg_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

/* Navigation Bar*/
.navbar {
    width: 100%;
    position: fixed;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
}
.navbar__container {
    display: flex;
    height: 70px;
    align-items: center;
}
.navbar__menu {
    display: flex;
    gap: 2.5rem;
}
.nav__links:hover {
    color: var(--highlighted_text_color);
    transition: all 0.5s ease;
}
.menu-toggle {
    display: none;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Mobile Screen */
@media screen and (max-width: 960px) {
    .navbar__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 90vh;
        align-items: center;
        position: absolute;
        top: 0;
        right: -1000px;
        background: black;
        gap: 6.25rem;
    }
    .nav__items {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__items:active{
        background: rgb(54, 54, 54);
    }
    .navbar__menu.active {
        right: 0px;
        transition: all 0.5s ease;
    }
    .menu-toggle {
        display: flex;
        position: fixed;
        right: 40px;
        z-index: 1;
    }
    .menu-toggle.is-active .bar:nth-child(2) {
        opacity: 0;
        transition: 0.5s;
    }
    .menu-toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        transition: 0.5s;
    }
    .menu-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        transition: 0.5s;
    }
}

/* Hero Section */
.hero__section {
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    display: flex;
}
.hero__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    gap: 1.875rem;
}
.hero__headings {
    display: flex;
    align-items: center;
    justify-content: center;
}
.higlighted__text {
    color: var(--highlighted_text_color);
}
.hero__headings h2 {
    font-size: 4.875rem;
}
.hero__headings img {
    width: 132px;
}
.hero__container p {
    font-size: 1.25rem;
}
.btn {
    width: 250px;
    height: 50px;
    background: #2b2727;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #EE524C;
    cursor: pointer;
    transition: 0.5s;
}
.hero__btn a {
    width: 100%;
    font-size: 1.125rem;
    font-family: "Metal Mania", sans-serif;
}
.btn:hover {
    background: #EE524C;
    box-shadow: #581d1b 5px 7px 5px;
    border-radius: 5px;
    border: 2px solid black;
}

/* Mobile Screen */
@media screen and (max-width: 960px) {
    .hero__section {
        width: 100%;
        margin-inline: .625rem;
        
    }
    .hero__container {
        flex-direction: column;
        align-items: center;
    }
    .hero__headings {
        gap: .625rem;
    }
    .hero__headings h2 {
        font-size: 50px;
    }
    .hero__headings img {
        width: 60px;
    }
    .hero__container p {
        font-size: 1rem;
        width: 90%;
    }
}

/* Projects Section */
.projects__section {
    width: 65%;
    margin: 0 auto;
}
.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.375rem;
}
.projects__headings {
    display: flex;
    align-items: center;
}
.projects__headings h2 {
    font-size: 4rem;
}
.projects__headings img {
    width: 132px;
}
.projects {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}
.projects img {
    width: 519px;
}

.txt__container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.txt__container h2 {
    font-size: 2.25rem;
}
.txt__container p {
    font-size: 1.25rem;
}

/* Mobile Screen */
@media screen and (max-width: 1024px) {
    .projects__section {
        width: 95%;
    }
    .projects__container {
        gap: 2.5rem;
    }
    .projects__headings {
        gap: .625rem;
        margin-bottom: 40px;
    }
    .projects__headings h2{
        font-size: 2.75rem;
    }
    .projects__headings img {
        width: 65px;
    }
    .projects {
        gap: .9375rem;
    }
    .projects img {
        width: 400px;
    }
}
@media screen and (max-width: 960px) {
    .projects__section {
        width: 95%;
    }
    .projects__container {
        gap: 2.5rem;
    }
    .projects__headings {
        gap: .625rem;
        margin-bottom: 40px;
    }
    .projects__headings h2{
        font-size: 2.75rem;
    }
    .projects__headings img {
        width: 65px;
    }
    .projects {
        gap: .9375rem;
    }
    .projects img {
        width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .projects__section {
        width: 100%;
    }
    .projects__headings {
        gap: .625rem;
        margin-bottom: 40px;
    }
    .projects__headings h2{
        font-size: 2.75rem;
    }
    .projects__headings img {
        width: 65px;
    }
    .projects {
        gap: .9375rem;
        flex-direction: column;
        align-items: center;
    }
    .projects img {
        width: 400px;
    }
    .txt__container {
        text-align: center;
        width: 400px;
    }
    .txt__container h2 {
        font-size: 1.625rem;
    }
    .txt__container p {
        font-size: .875rem;
    }
}

/* Contact Section */
.contact__section {
    width: 85%;
    margin: 0 auto;
    height: 70vh;
    padding: 50px 0px;
}
.contact__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__headings {
    font-size: 95px;
    width: 757px;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.socials h2 {
    font-size: 3rem;
}
.social__links {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.social__links img {
    width: 82px;
}
.resume__btn a {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: "Metal Mania", sans-serif;
    font-size: 1.5rem;
}

/* Mobile Screen */
@media screen and (max-width: 1024px) {
    .contact__section {
        width: 95%;
        height: 40vh;
    }
    .contact__container {
        gap: 2.5rem;
    }
    .contact__headings {
        font-size: 3.125rem;
    }
    .socials h2 {
        font-size: 2.125rem;
    }
    .social__links {
        gap: 20px;
    }
    .social__links img {
        width: 55px;
    }
}

@media screen and (max-width: 768px) {
    .contact__container {
        flex-direction: column;
        align-items: center;
    }
    .contact__headings {
        font-size: 2.125rem;
    }
}
@media screen and (max-width: 425px) {
    .contact__headings {
        font-size: 24px;
        text-align: center;
        width: 300px;
    }
    .resume__btn {
        margin-bottom: 20px;
    }
}